<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VietTravel</title>
  <link rel="icon" href="/img_more/home/viettravel_logo_4.png" type="image/x-icon" />

  <!-- Favicons-->
  <!--<link rel="shortcut icon" type="image/x-icon" href="/img_more/img/img_cart/favicon.ico">-->
  <link rel="apple-touch-icon" type="image/x-icon" href="/img_more/img/img_cart/apple-touch-icon-57x57-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72"
    href="/img_more/img/img_cart/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
    href="/img_more/img/img_cart/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
    href="/img_more/img/img_cart/apple-touch-icon-144x144-precomposed.png">
  <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/fonts_awesome/fontawesome-free-6.4.2-web/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- POPUP QRCODE CSS -->
  <link href="/css/css_cart/popup_qrcode.css" rel="stylesheet">

  <!-- COMMON CSS -->
  <link rel="stylesheet" href="/css/message.css">
  <link rel="stylesheet" href="/css/css_cart/cart_first.css">   
  <link rel="stylesheet" href="/css/css_cart/bootstrap.min.css">
  <link rel="stylesheet" href="/css/css_cart/style.css">
  <link rel="stylesheet" href="/css/css_cart/vendors.css" >

  <!-- Insert Calendar -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  
</head>

<body>
  <!-- Header -->
  <div id="header">
    <!-- Begin: nav-first -->
    <div id="nav-first">
      <div class="header-logo">
        <a href="/"><img alt="image" class="img-fluid" src="/img_more/home/viettravel_logo_4.png"></a>
        <a href="/" class="logo-dashboard">VietTravel</a>
      </div>
      <div class="slogan">
        <p>Vietnam – Timeless Charm</p>
        <img src="/img_more/home/Flag-VN.png" alt="VietNam">
      </div>

      <!-- Begin: Login - Register -->
      <div class="log-reg">
        <!-- Hover Cart -->
        <ul id="top_tools">
          <li>
            <div>
              <a href="/cart" target="_blank" class="cart_bt"><i class="ti-shopping-cart"></i><strong id="numberOfProducts">0</strong></a>
            </div>
          </li>
        </ul>
        <div>
          <button sec:authorize="not isAuthenticated()" class="log"><a href="/login">Login</a></button>
          <button sec:authorize="isAuthenticated()" class="log">
            <form id="logoutForm" method="POST" th:action="@{/logout}">
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            </form>
            <a onclick="document.forms['logoutForm'].submit()">Logout</a>
          </button>
          <button sec:authorize="not isAuthenticated()" class="reg"><a href="#member">Sign up</a></button>
        </div>
        <div sec:authorize="isAuthenticated()" class="user">
          <form method="GET" th:object="${userForm}" th:action="@{/viettravel/role}" class="img_user">
            <button class="check_role">
              <img class="user-login" th:src="@{/img_more/testimonials/user.jpg}">
            </button>
          </form>
        </div>
      </div>
      <!-- End: Login - Register -->
    </div>
    <!-- End: nav-first -->
    <!-- Begin: nav -->
    <ul id="nav" class="tabs">
      <li class="tab-item active"><a href="/#" target="_blank"><i class="ti-home nav-icon"></i>Home</a></li>
      <li class="tab-item"><a href="/#introduce" target="_blank"><i class="ti-star nav-icon"></i>Introduce</a></li>
      <li class="tab-item">
        <a href="#"><i class="ti-map-alt nav-icon"></i>Tour <i class="nav-arrow-down ti-angle-down"></i></a>
        <ul class="list-tour">
          <li><a href="#">North</a>
            <ul class="tour-north">
              <li><a href="/viettravel/hagiang" target="_blank">Ha Giang</a></li>
              <li><a href="/viettravel/hanoi" target="_blank">Ha Noi</a></li>
              <li><a href="/viettravel/halong" target="_blank">Ha Long</a></li>
              <li><a href="/viettravel/ninhbinh" target="_blank">Ninh Binh</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Central Region</a>
            <ul class="tour-central">
              <li><a href="/viettravel/danang" target="_blank">Da Nang</a></li>
              <li><a href="/viettravel/hoian" target="_blank">Hoi An</a></li>
              <li><a href="/viettravel/dalat" target="_blank">Da Lat</a></li>
            </ul>
          </li>
          <li>
            <a href="#">South</a>
            <ul class="tour-south">
              <li><a href="/viettravel/tphcm" target="_blank">Ho Chi Minh City</a></li>
              <li><a href="/viettravel/phuquoc" target="_blank">Phu Quoc</a></li>
              <li><a href="/viettravel/camau" target="_blank">Ca Mau</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="tab-item"><a href="/#package_tour" target="_blank"><i class="ti-flag-alt nav-icon"></i>Package Tour</a></li>
      <li class="tab-item"><a href="/#member" target="_blank"><i class="ti-face-smile nav-icon"></i>Member</a></li>
      <li class="tab-item">
        <a href="/viettravel/more" target="_blank">
          <i class="ti-shine nav-icon"></i>
          More
          <i class="nav-arrow-down ti-angle-down"></i>
        </a>
        <ul class="subnav">
          <li><a href="/viettravel/more" target="_blank">About Us</a></li>
          <li><a href="/viettravel/more#services-main" target="_blank">Services</a></li>
          <li><a href="/viettravel/more#system-main" target="_blank">System</a></li>
        </ul>
      </li>
      <div class="search-btn">
        <input id="search-input" class="input-btn" type="text" placeholder="Search..." />
        <button class="btn-header">
          <i class="search-icon ti-search"></i>
        </button>
      </div>
      <div id="mobile-menu" class="mobile-menu-btn"></div>
    </ul>
    <!-- End: nav -->
    <!-- Begin: search button-->

    <!-- End: search button-->
  </div>
  <!-- End Header -->

  <section id="hero_2">
    <div class="opacity-mask">
    <div class="intro_title">
      <h1>Place your order</h1>
    </div>
    </div>
  </section>
  
  <!-- Main -->
  <main id="main">
    <div class="container margin_60">
      <div class="row">
        <div class="col-lg-8">
          <table class="table table-striped cart-list add_bottom_30">
            <thead>
              <tr>
                <th>
                  Item
                </th>
                <th>
                  Quantity
                </th>
                <th class="day-use">
                  Days
                </th>
                <th>
                  Total
                </th>
                <th>
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="products">
		    </tbody>
		   
		    <tbody class="cuisines">
			</tbody>
			
			<tbody class="intertainments">
		    </tbody>
			
		    <tbody class="move">
            </tbody>
			
          </table>
          <table class="table table-striped options_cart">
            <thead>
              <tr>
                <th colspan="3">
                  Add options / Services
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:10%">
                  <i class="icon_set_1_icon-16"></i>
                </td>
                <td style="width:60%">
                  Dedicated Tour guide <strong>+$34</strong>
                </td>
                <td style="width:35%">
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_1" id="option_1" checked value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-26"></i>
                </td>
                <td>
                  Pick up service <strong>+$34*</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_2" id="option_2" value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-71"></i>
                </td>
                <td>
                  Insurance <strong>+$24*</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_3" id="option_3" value="" checked>
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-15"></i>
                </td>
                <td>
                  Welcome bottle <strong>+$24</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_4" id="option_4" value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-59"></i>
                </td>
                <td>
                  Coffe break <strong>+$12*</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_5" id="option_5" value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-58"></i>
                </td>
                <td>
                  Dinner <strong>+$26*</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_6" id="option_6" value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <i class="icon_set_1_icon-40"></i>
                </td>
                <td>
                  Bike rent <strong>+$26*</strong>
                </td>
                <td>
                  <label class="switch-light switch-ios float-end">
                    <input type="checkbox" name="option_7" id="option_7" value="">
                    <span>
                      <span>No</span>
                      <span>Yes</span>
                    </span>
                    <a></a>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="add_bottom_15"><small>* Prices for person.</small>
          </div>
        </div>
        <!-- End col -->

        <aside class="col-lg-4">
          <div class="box_style_1">
            <h3 class="inner">- Summary -</h3>
            <table class="table table_summary">
              <tbody>
                <tr>
                  <td>
                    SubTotal
                  </td>
                  <td class="text-end subtotal">
                    $0.00
                  </td>
                </tr>
                <tr>
                  <td>
                    Member
                  </td>
                  <td class="text-end member">
					&#8595;5%
                  </td>
                </tr>
                <tr>
                  <td>
                    Book Tour
                  </td>
                  <td class="text-end discount">
					&#8595;5%
                  </td>
                </tr>
                <tr>
                  <td>
                    VAT
                  </td>
                  <td class="text-end vat">
                    $0.00
                  </td>
                </tr>
                <tr class="total">
                  <td>
                    Total cost
                  </td>
                  <td class="text-end totalEle">
                    $0.00
                  </td>
                </tr>
              </tbody>
            </table>
            <a class="btn_full" href="#pay-dialog" id="access_link">Check out</a>
            <a class="btn_full_outline" href="#" id="confirm"><i class="icon-right"></i>Confirm cart</a>
          </div>
          <div class="box_style_4">
            <i class="icon_set_1_icon-57"></i>
            <h4>Need <span>Help?</span></h4>
            <a href="tel://004542344599" class="phone">+84 966 68 0989</a>
            <small>Monday to Friday 8.00am - 5.30pm</small>
          </div>
        </aside>
        <!-- End aside -->

      </div>
      <!--End row -->
    </div>
  </main>
  <!-- End Main -->

  <!-- Display Popup PAY -->
  <div id="pay-dialog" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header">
      <h3>PAY</h3>
    </div>
    <form>
      <div class="sign-in-wrapper">
        <a class="social_bt facebook" id="createVNPay">Payment via VNPay</a>
        <div class="divider"><span>Or</span></div>
        <a class="social_bt google" id="createQRCode">Payment via QRCode Bank</a>
        <div class="divider"><span>Or</span></div>
        <a class="social_bt crypto" id="createCrypto">Payment via Crypto Currency</a>
      </div>
    </form>
  </div>
  <!-- /Display Popup PAY-->

  <!-- Display Popup QRCode -->
  <div id="qrCodeBox" class="zoom-anim-dialog mfp-hide">
    <div id="qrCodeSquareFrame">
      <div class="centered">
        <div id="qrcode">
          <img src="/img_more/img/img_cart/QRCode.png" alt="">
        </div>
      </div>
      <div class="text">
        <p class="one">
          Beneficiary: VietTravel
        </p>
        <p class="two">
          Bank: MBBank
        </p>
        <p class="three">
          Account: 0966680989
        </p>
        <p class="four">
          Click PAY to receive invoice via Email
        </p>
        <button class="btn-pay-qr" id="qrcodeSendEmail">PAY</button>
      </div>
    </div>
  </div>
  <!-- /Display Popup QRCode-->

  <!-- Display Popup CRYPTO-->
  <div id="pay-dialog-crypto" class="zoom-anim-dialog mfp-hide">
    <div class="small-dialog-header-crypto">
      <h3 class="title">PAY BY SMART CONTRACT</h3>
      <span class="popup-smartContract-close">&times</span>
    </div>
    <form>
      <div class="sign-in-wrapper">
          <p><i class="fas fa-receipt"></i> TOTAL COST: <span id="total-crypto"></span> ETH with conversion rate 1 ETH = 2080.90 USD</p>
          <p><i class="fas fa-coins"></i> DEPOSIT(20%): <span id="crypto-payment-first"></span> ETH payment within 1 hour after order confirmation</p>
          <p><i class="fas fa-clock"></i> REMAINING(80%): <span id="crypto-payment-second"></span> ETH payment 24 hours before check-in date</p>
          <p><i class="fas fa-file-contract"></i> ETH RECEIVE ADDRESS: 0x197c021fe23ab845bb310338993f497377c82267</p>
          <p><i class="fas fa-hand-holding-usd"></i> ETH SEND ADDRESS: <span><input class="crypto-send-address" name="crypto-sender" placeholder="Your e-wallet address to confirm transactions"></span> </p>
          <span class="has-error-crypto"></span>
          <p><i class="fas fa-envelope"></i> Confirmation information will be sent to your registered email in a few minutes</p>
          <button class="confirm-button">CONFIRM</button>
      </div>
    </form>
  </div>
  <!-- /Display Popup CRYPTO-->

  <!-- Footer -->
  <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>About VietTravel</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How to Book</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Help Center</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blog</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Airline tickets</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Hotel</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Airport Transfer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Savings combo</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Others</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy Policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Register Your Accommodation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Register Your Experience Business</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">VietTravel Press Room</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Follow us on</h3>
            <p>Follow Vietravel on social networking platforms to receive the fastest discount information and seasonal
              tours.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="fa-brands fa-square-x-twitter"></i></a>
              <a href="#" class="printerest"><i class="fa-brands fa-pinterest"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-snapchat"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>VietTravel</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">VietTravel</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  
  <!-- Begin Toast Message -->
  	<div id="notification"></div>
  <!-- End Toast Message -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Jquery Calendar -->
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  

  <!-- Template Main JS File -->
  <script src="/js/js_cart/jquery-3.7.0.min.js"></script>
  <script src="/js/js_cart/common_scripts_min.js"></script>
  <script src="/js/js_cart/functions.js"></script>  
  
  <script src="/js/message.js"></script>
  <script src="/js/js_cart/qrcode.js"></script>
  <script src="/js/reset_cart.js"></script>
  <script src="/js/search/search_toward.js"></script>
  <script src="/js/js_cart/cart.js"></script>
  <script src="/js/js_cart/cart_first.js"></script>

</body>
</html>