<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VietTravel</title>
  <link rel="icon" href="/img_more/home/viettravel_logo_4.png" type="image/x-icon" />
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/message_sub.css">  
  <link href="/css/css_cart/popup_qrcode.css" rel="stylesheet">
</head>

<body>
	<div id="qrCodeBox">
	    <div id="qrCodeSquareFrame">
	      <div class="centered">
	        <div id="qrcode">
	            <img src="/img_more/img/img_cart/QRCode.png" alt="">
	        </div>
	      </div>
	      <div class="text">
	        <p class="one">
	            Beneficiary: VietTravel
	        </p>
	        <p class="two">
	            Bank: MBBank
	        </p>
	        <p class="three">
	            Account: 0966680989
	        </p>
	        <p class="four">
				Click PAY to receive invoice via Email
	        </p>
	        <button class="btn-pay-qr" id="createQRCode">PAY</button>
	      </div>
	    </div>
	</div>
	
	<!-- Begin Toast Message -->
		<div id="notification"></div>
	<!-- End Toast Message -->
	
	<script>	
		// Gọi API gửi email PDF
		var emailApi = 'http://localhost:8080/send_email_attachment';			//api gửi mail file pdf thông tin đặt phòng
		function sendEmail() {
		  fetch(emailApi) 									// Gọi đến API gửi email
		    .then(response => {
		      if (response.ok) {
		        //alert("Email has been sent successfully!");
				showSuccessToast_Email_2();
		      } else {
		        //alert("Failed to send email. Please try again later.");	
				showErrorToast_Email_3();			
		      }
		    })
		    .catch(error => {
		      console.error('Error:', error);
		      //alert("An error occurred. Please try again later.");
			  showErrorToast_Email_2();
		    });
		}
		
		//Click Button PAY sẽ gửi InvoicePDF
		document.querySelector('#createQRCode').addEventListener('click', function(event) {
			sendEmail();
		});
	</script>
	
	<script src="/js/message.js"></script>
	
</body>
</html>