/* Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
.clear{
    clear: both;
}

.text-while {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-full{
    width: 100%;
}
.col-third {
    width: 33.33333%;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
/* Main */
#main {
    
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 94.5px;
    background-color: #000;
    z-index: 999;
}

/*---------- Begin: nav-first -----------*/
#nav-first {
    height: 48px;
    background-color: #f0e7e7;
    position: relative;
    border-top: 0.2px solid #000;
}

#nav-first .header-logo {
    height: 40px;
    width: 186px;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
}

#nav-first .header-logo img {
    height: 36px;
    width: 40px;
}

#nav-first .header-logo .logo-dashboard {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.4;
    color: #000;
    position: absolute;
    left: 45px;
    text-decoration: none;
}

#nav-first .slogan {
    position: absolute;
    width: 366px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4;
    color: #000;
    display: flex;
}

#nav-first .slogan img {
    width: 30px;
    height: 32px;
    margin-left: 6px;
}

/* ----- Login - Register ------ */
#header .log-reg {
    display: flex;
    align-items: center;
    height: 46.5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
}
#header .log-reg button {
    font-size: 18px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 100;
    width: 90px;
    height: 30px;
    transition: 0.4s;
}
#header .log-reg .reg {
    background-color: #000;
    border: 1px solid #f44336;
}
#header .log-reg .reg a {
	text-decoration: none;
	color: white;
}
#header .log-reg .log a{
	text-decoration: none;
	color: #f44336;
}
#header .log-reg .log:hover a{
	color: white;
	transition: 0.4s;
}
#header .log-reg .log {
    color: #e75d53;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #f44336;
    background-color: #000;
}

#header .log-reg button:hover {
    color: white;
    background-color: #f44336;
}

#header .log-reg .user {
    margin-top: 3.25px;
    margin-left: 6px;
}
#header .log-reg .check_role {
    height: 40px;
    width: 46.5px;
    border-radius: 100px;
}
#header .log-reg .user-login {
    height: 40px;
    width: 46.5px;
    border-radius: 100px;
    border: 0.5px solid #000;
}
#header .log-reg .user:hover {
	cursor: pointer;
}
#header .log-reg .img_user {
    height: 44px;
}

/* ---------End: Login-Register--*/
/* ---------Begin: Hover Cart----*/
strong {
    font-weight: 600
}

ul#top_tools {
    list-style: none;
    padding: 0;
    margin-right: 5px;
    z-index: 999;
}

ul#top_tools a {
    color: #000;
}

ul#top_tools a:hover {
    color: #e04f67
}

.sticky ul#top_tools a {
    color: #333
}

ul#top_tools li {
    display: inline-block;
    padding: 0 10px
}

ul#top_tools li i {
    font-size: 26px;
    font-weight: 400
}

a.cart_bt {
    position: relative;
    text-decoration: none;
}

a.cart_bt strong {
    font-size: 11px;
    width: 15px;
    height: 15px;
    display: block;
    background-color: #e04f67;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: -5px;
    right: -8px;
    line-height: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}
/* ---------End: Hover Cart------*/
/*----------End: nav-first-------*/

/* ---------Begin: nav ----------*/
#nav{
    display: inline-block;
}

#nav .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}
#nav li{
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 0px 20px;
    display: inline-block;
}
#nav > li > a > .nav-icon {
    margin-right: 6px;
}
#nav li a {
    text-decoration: none;
    line-height: 46.5px;
    padding: 0px 20px;
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}

#nav .subnav a {
    color: #000;
    width: 115px;
}
/* CSS riêng cho Tour */
#nav .list-tour{
    list-style-type: none;
}
#nav .list-tour li:hover {
    color: #000;
    background-color: #ccc;
}
#nav li:hover .list-tour {
    display: inline-block;
}
#nav .list-tour {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}
#nav .list-tour a {
    color: #000;
    width: 160px;
}
/* -------------------- */
/* CSS Tour North */
#nav li>.list-tour li>.tour-north {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-top: -46.5px;
    margin-left: 160px;
    border-left: 2px solid #fff;
}
#nav .list-tour .tour-north a {
    width: 120px;
}
#nav li>.list-tour li:hover .tour-north {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* --------------------- */
/* CSS Tour Central Region */
#nav li>.list-tour li>.tour-central {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-top: -46.5px;
    margin-left: 160px;
    border-left: 2px solid #fff;
}
#nav li>.list-tour li>.tour-central a {
    width: 120px;
}
#nav li>.list-tour li:hover .tour-central {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* ---------------------- */
/* CSS Tour South */
#nav li>.list-tour li>.tour-south {
    display: none;
    position: absolute;
    list-style-type: none;
    margin-top: -46.5px;
    margin-left: 160px;
    border-left: 2px solid #fff;
}
#nav .list-tour .tour-south a {
    width: 170px;
}
#nav li>.list-tour li:hover .tour-south {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .nav-arrow-down {
    font-size: 10px;
}
/* ---------End: nav ----------*/
/*----------Begin: Tab Header------------*/
.tabs .line {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 0;
    height: 1px;
    border-radius: 15px;
    background-color: #ccc;
    pointer-events: none;
}
.tab-item.active {
    opacity: 1;
}
/*----------End: Tab Header--------------*/
/*----------Begin: Search Button-------- */
#header .search-btn {
    float: right;
}

#header .search-btn {
    right: 8px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header .search-btn .btn-header:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon {
    color: #fff;
    font-size: 16px;
    line-height: 46.5px;
}
.search-btn {
    position: relative;
}
.search-btn .btn-header {
    height: 46.5px;
    width: 60px;
    background-color: #000;
    border: none;
    display: inline;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: -20px;
    transition: transform 0.3s ease;
}
.search-btn .input-btn {
    outline: none;
    border: none;
    margin-top: 8px;
    padding: 5px 10px;
    width: 40px;
    height: 30px;
    transition: width 0.3s ease;
    font-size: 12px;
}
.search-btn .input-btn::placeholder {
    color: green;
}
.search-btn.active .input-btn {
    width: 200px;
}
.search-btn.active .btn-header {
    width: 0;
}
/*----------End: Search Button-------- */
/*----------Begin: Slider show-------- */
#slider {
    margin-top: 94.5px;
}
#slider .image-item {
    position: relative;
}
#slider .image-item>.img-item{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}
#slider .image-item .img-item p {
    /* font-weight: 300; */
    font-size: 30px;
    position: absolute;
    bottom: 32px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 230px;
}
#slider .image-item .img-item span {
    font-size: 25px;
    /* margin-top: 40px; */
    /* text-shadow: 0 0 0.5px #000; */
}
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 45px;
    z-index: 999;
}
.slick-arrow.btn-prev{
    left: 10px;
    cursor: pointer;
}
.slick-arrow.btn-next{
    right: 10px;
    cursor: pointer;
}
#slider .slick-dots {
    bottom: 10px;
}
#slider .slick-dots li button:before {
    font-size: 10px;
}
#slider .image-item .color-content {
    color: #000;
}
/* #slider .text-content {
   position: absolute;
   bottom: 47px;
   left: 50%;
   transform: translateX(-50%);
   text-align: center;
}
#slider .text-hagiang {
    font-weight: 500;
    font-size: 26px;

}
#slider .text-hagiang1 {
    font-size: 20px;
    margin-top: 14px;
    text-shadow: 0 0 0.5px #000;
} */
/* -------------------------------- */
#content {
   
}
#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
    height: 45px;
    line-height: 1.5;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 8px 0;
    font-style: italic;
    opacity: 0.6;
}
#content .about-context {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .content-section .image{
    text-align: center;
    margin-top: 15px;
}
#content .image .image_end {
    width: 220px;
}

.tour-section {
    background-color: #000;
    /* height: 846px; */
    /* height: 895px; */
    /* height: 870px; */
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}
.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .local1{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 69px;
}

.tickets-list .local3{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 5px;
}
.tickets-list .local4{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 66px;
}
.tickets-list .local2{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 5px;
}
.tickets-list li a {
    text-decoration:none;
}
.tickets-list .local1:hover,
.tickets-list .local2:hover,
.tickets-list .local3:hover,
.tickets-list .local4:hover {
    cursor: pointer;
    background-color: red;
}

/* Choice */
.choice-list {
    margin-top: 16px;
    padding-bottom: 48px;
}

.choice-img {
    width: 100%;
    display: block;
    height: 300px;
}
.choice-img:hover {
    opacity: 0.8;
}
.choice-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.choice-heading {
    font-size: 15px;
    font-weight: 550;
}
.choice-desc {
    margin-top: 15px;
    line-height: 1.4;
    height: 42px;
}
.choice-buy-btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
}
.choice-buy-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
/* Contact */
.content-contact {
    /* height: 439px; */
    /* padding-bottom: 60px; */
}
.contact-content {
    margin-top: 30px;
    padding-bottom: 30px;
}
.contact-info{
    font-size: 18px;
}
.contact-info i {
    width: 35px;
    display: inline-block;
    line-height: 1.5;
}

.contact-info a {
    opacity: 0.8;
}
.contact-info a:hover {
    opacity: 1;
}


.contact-form{
    font-size: 15px;
}
.contact-form .form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    line-height: 1.5;
}
input.form-control{
    padding: 1px 2px;
}

.contact-form .form-submit-btn {
    background: #000;
    color: #fff;
    border: 1px solid #ccc;
    padding: 10px 16px;
    /*float: right;*/
    margin: 16px 143.6px 16px;
    appearance: none;
    -webkit-appearance: none;
}
.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
    /* border: none; */
}

/*Login Google - OAuth2*/
.line-or {
    position: relative;
    height: 1px;
    width: 160px;
    border-top: 1px solid #a1a1a1;
    left: 108px;
}

.vl-innertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: white; 					/* Màu nền của bạn */
    padding: 0 6px; 							/* Thêm padding để tạo không gian xung quanh chữ "or" */
    color: #a1a1a1; 							/* Màu của chữ "or", có thể điều chỉnh */
    
}

.oauth2 {
    margin: 0 73px;
}
.line-or {
    margin: 10px 0;
}
.btn-oauth2 {
    width: 230px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 10px 0;
    /* opacity: 0.85; */
    /* display: inline-block;  */
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;   								/*thêm khoảng các giữa các phần tử con*/
}
.google {
    background-color: #dd4b39;
    color: white;
}
.bxl-google-plus {
    font-size: 30px;
}
.line-between {
    color: #000;
    vertical-align: middle;
}
.btn-oauth2:hover {
    /* opacity: 1; */
    background-color: red;
}

/* Welcome to VN */
/* 
.welcome-section{
    position: relative;
    background: url("/assets/img/welcome_to_vn_1.jpg") center / cover no-repeat;
    width: 100%;
    /* height: 575px; */
    /* height: 760px; */
    /* height: auto; */
/* }  
*/

.welcome-section .welcome-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* Footer */
#footer {
    /*padding: 64px 16px;*/
    padding: 10px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}
#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}
/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
}
 
.modal .modal-container {
    background: #fff;
    /*width: 900px;*/
    width: 500px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.modal-header-icon {
    padding: 14px;
}
.modal-close:hover {
    opacity: 1;
    color: #000;
    background: #ccc;
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

.buy-tour {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
.buy-tour:hover{
    opacity: 0.9;
}
.buy-tour a {
	color: #fff;
	text-decoration: none;
}

.modal-footer {
    /*padding: 16px;*/
    padding: 0 16px 6px 16px;
    text-align: right;
}
.modal-help a {
    color: #2196F3;
}
.modal-help {
	color: #000;
}
.modal.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Form Registration*/

.has-error {
    color: red
}


