<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <title>VietTravel</title>
    <link rel="icon" href="img_more/home/viettravel_logo_4.png" type="image/x-icon" />
    <link rel="stylesheet" href="fonts_awesome/fontawesome-free-6.4.2-web/css/all.min.css">
	<link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div id="wrapper">
        <form method="POST" th:action="@{/login}" id="form-login">
            <h1 class="form-heading">Form Login</h1>
            <div class="form-group">
                <i class="far fa-user"></i>
                <input type="text" name="username" id="username" class="form-input" placeholder="User Name">
			</div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                <input name="password" id="password" type="password" class="form-input" placeholder="Password">
                <div id="eye">
                    <i class="far fa-eye"></i>
                </div>       
            </div>
			<span class="has-error" th:text="${error}"></span>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <input type="submit" value="Login" class="form-submit">
            <h4 class="form-register"><a href="/viettravel/registration">Create an account</a></h4>
            
            <div class="line-or">
                <span class="vl-innertext">or</span>
            </div>
            <div class="oauth2">
                <a th:href="@{/oauth2/authorization/google}" class="google btn-oauth2">
                    <i class="fa-brands fa-google"></i> <span class="line-between">|</span> Sign in with Google+
                </a>
            </div>
        </form>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function () {
        $('#eye').click(function () {
            $(this).toggleClass('open');
            $(this).children('i').toggleClass('fa-eye-slash fa-eye');
            if ($(this).hasClass('open')) {
                $(this).prev().attr('type', 'text');
            } else {
                $(this).prev().attr('type', 'password');
            }
        });
    });
</script>

</html>